@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    font-family: 'Inter';
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);   
}


body{
    
    background-color: var(--Grey900);
    justify-content: center;
    align-items: center;
    display: grid;
    margin: 30px;
}

#container{
    text-align: center;
    padding: 30px;
    justify-content: center;
    align-items: center;
    display: grid;
    width: 400px;
    background-color: var(--Grey800);
    border-radius: 10px;
}

#img{
    padding: 20px;
    justify-content: center;
    display: grid;
    text-align: center;
    align-items: center;
    align-self: center;

}

img{
    
    border-radius: 100%;
    width: 100px;
}

#info{
  
    display: grid;
    padding: 1px;
}

h1{
    color: var(--White);
 margin: 0%;
 font-weight: normal;

}

#address{
    color: var(--Green);
    font-weight: bold;
}

p{
    color: var(--White);
    font-weight: 200;
    font-size: medium;
    
}

#button{
    justify-content: center;
    display: grid;
}

a.button:hover{
    background-color: var(--Green);
    color: var(--Grey900);
}

a.button {
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: var(--White);
    background-color: var(--Grey700);
    text-decoration: none;
    width: 350px;

    margin: 5px;

}